trix-toolbar [data-trix-button-group='file-tools'] {
  display: none;
}

trix-toolbar [data-trix-button-group='history-tools'] {
  display: none;
}

.trix-button--icon-heading-1,
.trix-button--icon-quote,
.trix-button--icon-code,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none;
}